header {
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 97%);
    height: 757px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #ffffff;
    font-family: "Baar Sophia Bold", serif;
    position: relative;
    overflow: hidden;
}
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/thomas07725_wisdom_f10eaa88-8037-4290-9b15-9c2b489549e5_1.png');
    background-size: cover;
    filter: brightness(60%);
    z-index: -1;
}

header h1 {
    font-size: 2.5rem;
    position: relative;
    z-index: 1;
}

header p {
    font-size: 1.5rem;
    padding: 2.8125rem 0rem;
    width: 60%;
    line-height: 1.5;
}

header a {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 2rem 3.2rem;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.5rem;
    display: inline-block;
    clip-path: polygon( 0% 16.77%,94.053% 0%,100% 100%,0% 100%,0% 16.77% );
}

header a:hover {
    background-color: var(--accent-color-hover);
}

header a i {
    padding-left: 13px;

}

 /* Mobile */
 @media only screen and (max-width:768px) {
    header {
        text-align: center;
        clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 98%);
    }

    header h1 {
        font-size: 2rem;
        width: 100%;
    }

    header p {
        font-size: 1.3rem;
        padding: 2.8125rem 0rem;
        width: 100%;
        line-height: 1.5;
    }
  }

